

  
body{
  display:grid;
  grid-gap: 1em;
  background-color:#f2f2eb;
  margin:200px;
}



.header {
    margin: ;
    font-family: Franklin Gothic, arial, sans-serif;
    font-weight: lighter;
    font-size: 32px;
    line-height: 50px;
    text-align: align left;
    grid-column: span 3;
    display:inline-block;

}

.name {
    margin: 20px;
    padding: 10px;
    font-family: Franklin Gothic, arial, sans-serif;
    font-weight: lighter;
    font-stretch: condensed;
    color:#9c3213;
    text-transform: uppercase;
    font-size: 72px;
    line-height: 66px;
    text-align: left;
    grid-column: span 3;
    
}

.phone{
    margin:20px;
    font-family: Franklin Gothic, arial, sans-serif;
    font-weight: lighter;
    font-stretch: condensed;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    grid-column: span 3;
    color:#70706e;
}

.email{
    margin:20px;
    font-family: Franklin Gothic, arial, sans-serif;
    font-weight: lighter;
    font-stretch: condensed;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    grid-column: span 1;
    color:#70706e;
}



.dotted{
  border-top:2px dotted;
  grid-column: span 4;
  
}

.summarypro {
  margin: 20px;
  padding:20px;
  font-family: Times, serif;
  font-style:italic;
  grid-column: span 4;
  
}


ul{
  list-style-type: circle;
}

li {
  color:#5b5b5c; 
  font-family:Franklin Gothic, arial, sans-serif;
  font-size:14px;
  line-height: 1.6;
 
}

h4, h5{
  display:inline;}

h4 {
  font-family: Franklin Gothic, arial, sans-serif;
  font-weight: lighter;
  font-size: 16px;
  color:#9c3213;
}

h5 {
  text-transform:uppercase;
  font-family: Franklin Gothic, arial, sans-serif;
  font-weight: bold;
  color:#5b5b5c;
}

h3{
  grid-column: span 2;
  font-size: 32px;
}

h6 {
  font-size:16px;
}

p{
  max-width: 40em;
  grid-column-start: 2;
}


li {
   max-width: 500px;
}

.skills{
  font-family: Franklin Gothic, arial, sans-serif;
  font-weight: lighter;
  color:#70706e;
  margin: 20px;
}
  


.work{
  font-family: Franklin Gothic, arial, sans-serif;
  font-weight: lighter;
  color:#70706e;
   margin: 20px;
   
}



.Liberty1{
  margin:40px;
  font-family: Franklin Gothic, arial, sans-serif;
  font-weight: lighter;
  line-height: 24px;
}



.Liberty2{
  margin: 40px;
  font-family: Franklin Gothic, arial, sans-serif;
  font-weight: lighter;
  line-height: 24px;
}



.Liberty3{
  margin: 40px;
  font-family: Franklin Gothic, arial, sans-serif;
  font-weight: lighter;
  line-height: 24px;
}



.education{
  margin: 40px;
  font-family: Franklin Gothic, arial, sans-serif;
  font-weight: lighter;
  color:#70706e;
  line-height: 24px;
}





